<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
  <add name="dbconn" connectionString="Data Source=DESKTOP-U0MK4ON;Initial Catalog=posretails;Integrated Security=True" />
  <add name="POSRETAIL.Properties.Settings.posretailsConnectionString"
   connectionString="Data Source=DESKTOP-U0MK4ON;Initial Catalog=posretails;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
